.flickity-slider
  width: 100%

  .flickity-viewport
    width: 100%

.flickity-cell
  left: 0
  margin: 0 $textSpacer/2
  overflow-x: hidden
  position: absolute
  text-align: center
  top: 0
  width: 100%

  @media (min-width: $tablet)
    width: 33.333%
