.header-gradient
  background-color: $white
  display: block
  width: 100vw
  height: 41.625rem
  position: absolute
  z-index: -1

  &__circle,
  &__big-rectangle
    position: absolute

  &__circle
    +clamp('left', -3em, -9.0625em, $largeMobile, $desktop)
    background: $blue
    border-radius: 50.947875rem
    filter: blur(196.1891326904297px)
    height: 50.9375rem
    max-width: 50.9375rem
    opacity: 0.4
    top: -26.75rem
    width: 50%

  &__big-rectangle
    width: 100vw
    height: 33.0625rem
    background: rgba(122, 220, 252, 0.02)
    bottom: 0
    left: 0
    z-index: 1
