.header-gradient
  background-color: $white
  display: block
  width: 100vw
  height: 41.625rem
  position: absolute
  z-index: -1

  &__small-rectangle,
  &__big-rectangle
    position: absolute

  &__small-rectangle
    height: 50.9375rem
    width: 50.9375rem
    border-radius: 815.166px
    opacity: 0.4
    background: #7ADCFC
    filter: blur(196.1891326904297px)
    top: -26.75rem
    left: -9.0625rem

  &__big-rectangle
    width: 100vw
    height: 33.0625rem
    background: rgba(122, 220, 252, 0.02)
    bottom: 0
    left: 0
    z-index: 1

  &:after
    width: 100vw
    height: 13.0625rem
    background: linear-gradient(180deg, #FFF 6.22%, rgba(255, 255, 255, 0.00) 100%)
    bottom: 0
    left: 0
    transform: rotate(180deg)
