.header
  +gutters
  align-items: center
  display: flex
  gap: $baseline
  justify-content: space-between
  padding-block: $baseline * .5
  position: fixed
  transition: color .5s ease, padding .5s ease, background .5s ease, backdrop-filter .5s ease
  width: 100%
  z-index: 9

  @media (min-width: $smallDesktop)
    padding-block: ($baseline * 2)

    &--sticky
      padding-block: $baseline

  svg
    color: inherit

    path
      fill: currentColor

  &:not(.header--sticky)
    .nav--secondary, .nav--landing-page
      .nav__link
        background: $white

    @media (max-width: $maxSmallDesktop)
      .nav--landing-page
        .nav__link
          border: 1px solid $black

    body:has(.legal-page) &
      .nav--landing-page
        .nav__link
          border: 1px solid $black

  &--sticky
    backdrop-filter: blur(30px)
    background: rgba($white, .1)

  &:not(.header--sticky).header--light
    .nav--secondary, .nav--landing-page
      .nav__link
        border: $border

  &:not(.header--sticky).header--light,
  &.header--dark.header--sticky
    .nav--secondary, .nav--landing-page
      .button__icon
        background-color: $black

        &:before
          +buttonArrow($white)

        &:after
          +buttonArrow($white)

  &.header--light
    .nav--secondary, .nav--landing-page
      .nav__link
        color: $black

  &.header--light.header--sticky
    .nav--secondary, .nav--landing-page
      .nav__link
        background: $black
        border-color: $black
        color: $white

  &.header--dark,
  &.header--image
    .nav--secondary, .nav--landing-page
      .nav__link
        background: $white
        color: $black

  &--dark,
  &--image,
  &:has(.menu-toggle[aria-expanded="true"])
    color: $white

    svg
      path
        fill: $white

  &__logo
    +clamp('width', 8.125em, 9.7em, $largeMobile, $desktop)
    flex: 0 0 auto
    z-index: 10

  &__nav
    align-items: center
    display: flex
    flex: 1 1
    justify-content: space-between

    @media (max-width: $maxSmallDesktop)
      +cover
      align-items: flex-start
      background: $black
      color: $white
      flex-direction: column
      height: 100vh
      justify-content: flex-end
      opacity: 0
      padding: ($baseline * 5) $gutterMobile $gutterMobile
      pointer-events: none
      position: fixed
      transition: opacity .5s ease
      width: 100%

      &[aria-hidden="false"],
      &:has(~ .menu-toggle[aria-expanded="true"])
        opacity: 1
        pointer-events: all

  &__social
    +socialButtons
    display: flex
    width: 100%
    justify-content: space-between

    @media (min-width: $largeMobile)
      justify-content: center

    @media (min-width: $smallDesktop)
      display: none

    a
      flex: 0 1 auto
      margin-left: $textSpacer / 4
      margin-right: $textSpacer / 4
      margin-top: $textSpacer

      &:first-child
        margin-left: 0

      &:last-child
        margin-right: 0

  .menu-toggle
    border-radius: 0
    flex: 0 0 auto
    height: 1.3225em
    min-width: auto
    overflow: visible
    padding: 0
    position: relative
    width: 1.5em

    @media (min-width: $smallDesktop)
      display: none

    &__icon, &::before, &::after
      background: currentColor
      border-radius: 100vw
      height: 2px
      width: 100%

    &::before, &::after
      content: ''
      display: block
      position: absolute
      transition: transform .5s ease

    &::before
      transform-origin: top right
      top: 0

    &::after
      bottom: 2px
      transform-origin: bottom right

    &__icon
      top: 50%
      transform: translateY(-50%)
      transition: background .5s ease

    &[aria-expanded="true"]
      .menu-toggle__icon
        background: transparent

      &::before
        transform: rotate(-45deg)

      &::after
        transform: rotate(45deg)

    &__icon
      font-size: 0
      line-height: 0
      text-fill-color: transparent
