.latest-news
  +gutters
  +spacingTop
  border-bottom: $border
  border-color: $white20

  &__container
    @extend %cappedWidth

  &__blocks
    column-gap: $gap * 2
    display: grid

    @media (min-width: $tablet)
      grid-template-columns: repeat(3, minmax(0, 1fr))

.news-header
  +spacingBottom
  display: flex
  justify-content: space-between

  @media (max-width: $maxSmallDesktop)
    flex-wrap: wrap

  &__title
    @extend %h1
    margin-bottom: 0

    @media (max-width: $maxSmallDesktop)
      flex: 0 0 100%
      order: 2

  &__social
    @media (max-width: $maxSmallDesktop)
      +spacingBottomHalf
      flex: 0 0 100%

    a
      +opacityHover
      border: $border
      border-color: $white
      border-radius: 100%
      display: inline-block
      height: 3rem
      margin-left: $textSpacer / 2
      margin-top: 0.8rem
      position: relative
      width: 3rem

      svg
        bottom: 0
        left: 0
        margin: auto
        position: absolute
        right: 0
        top: 0

.news-block
  display: block

  @media (max-width: $maxTablet)
    padding-bottom: $textSpacer * 1.5

  &:last-of-type
    padding-bottom: 0

  &__category
    @extend %h6

  &__title
    @extend %h5

  &__image
    +roundedImage
    aspect-ratio: 2/1
    margin-bottom: $textSpacer
    max-width: 100%
    min-width: 0
    overflow: hidden

    img
      display: block
      height: 100%
      object-fit: cover
      width: 100%

  .author
    align-items: center
    display: flex

    &__image
      border-radius: 100%
      flex: 0 0 3rem
      height: 3rem
      width: 3rem
      margin-right: 1rem

    &__name
      @extend %mediumFontSize
      margin-bottom: 0
