$fontStackSansSerif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif
$firstFont: var(--font-gt-america-st-regular), sans-serif
$secondFont: var(--font-pp-monument), sans-serif
$thirdFont: var(--font-gt-america-ex-bold), sans-serif
$fourthFont: var(--font-gt-america-ex-regular), sans-serif
$fifthFont: var(--font-gt-america-ex-black), sans-serif

$regularFontWeight: 400

$fontSize: 100%
$baseline: 1.5em

$gutterMobile: 1.3125em // 21px
$gutterDesktop: 4.625em // 74px

$spacerMobile: 3.5em // 56px
$spacerDesktop: 5.75em // 92px

/* Browser widths */
$largeMobile: 30em // 480px
$maxLargeMobile: ($largeMobile - .0625em) // 479px
$tablet: 45em // 720px
$maxTablet: ($tablet - .0625em) // 719px
$smallDesktop: 63.75em // 1020px
$maxSmallDesktop: ($smallDesktop - .0625em) // 1019px
$mediumDesktop: 75em // 1200px
$maxMediumDesktop: ($mediumDesktop - .0625em) // 1199px
$desktop: 87.5em // 1400px
$largeDesktop: 100em // 1600px
$maxLargeDesktop: ($largeDesktop - .0625em) // 1599px
$mediumContainerWidth: 59.25em // 948px
$mediumContainerWidthPlusGutters: $mediumContainerWidth + ($gutterDesktop *2)
$narrowContainerWidth: 51em // 816px
$containerWidth: 81.1875em // 1299
$maxCappedWidth: ($containerWidth - .0625em)

$transitionDuration: .3s
$transitionDurationLong: .5s
$transitionTimingFunction: ease

$imageScale: scale3d(1, 1, 1)
$imageScaleHover: scale3d(1.05, 1.05, 1)

/* MISC values */
$borderRadius: 1.5625rem // 25px borders such as containers
$buttonBorderRadius: 2.3125rem // 37px
$buttonBorderRadiusSquare: 0.5rem // 8px
$formBorderRadius: $borderRadius // form inputs
$imgBorderRadius: 0.8736875rem // 14px for images, used with the roundedImage mixin to stop safari issues
$border: 0.0625rem solid $black // standard border style
$formBorder: $border // form border style
$minTouchSize: 2.75rem // 44px - min size for click areas
$opacityHover: .6
$textSpacer: 1.5rem // used for smaller margins and spacing
$letterSpacing: -0.06em
$gap: 1.375rem
$headerHeight: 5.9375rem

@function encodecolor($string)
  @if type-of($string) == 'color'
    $hex: str-slice(ie-hex-str($string), 4)
    $string:unquote("#{$hex}")

  $string: '%23' + $string
  @return $string

=buttonArrow($color)
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVG'%3E%3Cpath id='Vector' fill-rule='evenodd' clip-rule='evenodd' d='M17.5001 12.9402C17.3578 12.9351 17.2159 12.9588 17.0829 13.0099C16.9499 13.0609 16.8285 13.1381 16.7261 13.2371C16.6236 13.336 16.5421 13.4545 16.4864 13.5856C16.4307 13.7168 16.4021 13.8577 16.4021 14.0002C16.4021 14.1426 16.4307 14.2836 16.4864 14.4147C16.5421 14.5458 16.6236 14.6644 16.7261 14.7633C16.8285 14.8622 16.9499 14.9395 17.0829 14.9905C17.2159 15.0415 17.3578 15.0652 17.5001 15.0602L22.9401 15.0602L13.7501 24.2501C13.5512 24.4491 13.4395 24.7188 13.4395 25.0001C13.4395 25.2814 13.5512 25.5512 13.7501 25.7501C13.9491 25.9491 14.2188 26.0608 14.5001 26.0608C14.7814 26.0608 15.0512 25.9491 15.2501 25.7501L24.4401 16.5602L24.4401 22.0002C24.4351 22.1425 24.4588 22.2844 24.5098 22.4174C24.5608 22.5504 24.6381 22.6717 24.737 22.7742C24.8359 22.8767 24.9545 22.9582 25.0856 23.0139C25.2167 23.0695 25.3577 23.0982 25.5001 23.0982C25.6426 23.0982 25.7835 23.0695 25.9146 23.0139C26.0457 22.9582 26.1643 22.8767 26.2632 22.7742C26.3622 22.6717 26.4394 22.5504 26.4904 22.4174C26.5414 22.2844 26.5651 22.1425 26.5601 22.0002V14.0002C26.5606 13.8608 26.5335 13.7228 26.4804 13.594C26.4273 13.4651 26.3492 13.3481 26.2507 13.2496C26.1522 13.1511 26.0351 13.073 25.9063 13.0199C25.7775 12.9668 25.6395 12.9397 25.5001 12.9402L17.5001 12.9402Z' fill='#{encodecolor($color)}'/%3E%3C/g%3E%3C/svg%3E%0A")
  background-repeat: no-repeat
  background-position: center

=upArrow($color)
  background-image:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='29' viewBox='0 0 30 29' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.11004 10.9177C8.00584 11.0148 7.92225 11.1319 7.86428 11.262C7.80631 11.3921 7.77514 11.5325 7.77263 11.6749C7.77011 11.8174 7.79631 11.9588 7.84966 12.0909C7.903 12.223 7.9824 12.3429 8.08312 12.4436C8.18384 12.5444 8.30381 12.6238 8.43588 12.6771C8.56795 12.7305 8.70941 12.7567 8.85183 12.7541C8.99424 12.7516 9.13469 12.7205 9.2648 12.6625C9.39491 12.6045 9.51201 12.5209 9.60911 12.4167L13.4558 8.57007L13.4558 21.5667C13.4558 21.848 13.5675 22.1177 13.7664 22.3167C13.9653 22.5156 14.2351 22.6273 14.5164 22.6273C14.7977 22.6273 15.0675 22.5156 15.2664 22.3167C15.4653 22.1177 15.5771 21.848 15.5771 21.5667L15.5771 8.57007L19.4237 12.4167C19.5208 12.5209 19.6379 12.6045 19.768 12.6625C19.8981 12.7205 20.0386 12.7516 20.181 12.7541C20.3234 12.7567 20.4649 12.7305 20.597 12.6771C20.729 12.6238 20.849 12.5444 20.9497 12.4436C21.0504 12.3429 21.1298 12.223 21.1832 12.0909C21.2365 11.9588 21.2627 11.8174 21.2602 11.6749C21.2577 11.5325 21.2265 11.3921 21.1686 11.262C21.1106 11.1319 21.027 11.0148 20.9228 10.9177L15.2659 5.26082C15.1678 5.16196 15.051 5.0835 14.9223 5.02996C14.7937 4.97642 14.6558 4.94886 14.5164 4.94886C14.3771 4.94886 14.2391 4.97642 14.1105 5.02996C13.9819 5.0835 13.8651 5.16196 13.7669 5.26082L8.11004 10.9177Z' fill='#{encodecolor($color)}'/%3E%3C/svg%3E")
  background-repeat: no-repeat
  background-position: center

=lightbulb($color)
  background-image: url("data:image/svg+xml,%3Csvg width='47' height='74' viewBox='0 0 47 74' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Group 10263'%3E%3Cpath id='Vector' fill-rule='evenodd' clip-rule='evenodd' d='M33.5714 48.2146C33.5714 46.0916 34.8273 44.2038 36.5895 43.0198C42.8684 38.8012 47 31.633 47 23.5C47 10.5213 36.4787 0 23.5 0C10.5213 0 0 10.5213 0 23.5C0 31.633 4.13157 38.8012 10.4104 43.0198C12.1727 44.2038 13.4286 46.0916 13.4286 48.2146C13.4286 51.2522 15.8909 53.7143 18.9282 53.7143H21.8214V28.2248C21.6838 28.203 21.5468 28.1782 21.4098 28.151L11.2056 26.1101C7.7362 25.4162 6.08194 21.4225 8.04452 18.4786C10.4044 14.9388 15.8312 15.8064 16.9697 19.9055L18.1269 24.0707L22.0682 24.859C23.0135 25.048 23.9865 25.048 24.9318 24.859L28.8731 24.0707L30.0303 19.9055C31.1687 15.8064 36.5955 14.9388 38.9556 18.4786C40.9182 21.4225 39.2638 25.4162 35.7945 26.1101L25.5902 28.151C25.4532 28.1782 25.3162 28.203 25.1786 28.2248V53.7143H28.0718C31.1093 53.7143 33.5714 51.2522 33.5714 48.2146ZM35.1359 22.8181L32.5623 23.3328L33.2649 20.804C33.6345 19.4733 35.396 19.1917 36.1621 20.3408C36.7993 21.2964 36.2622 22.5929 35.1359 22.8181ZM13.7352 20.804L14.4376 23.3328L11.864 22.8181C10.7377 22.5929 10.2007 21.2964 10.8378 20.3408C11.6039 19.1917 13.3656 19.4733 13.7352 20.804Z' fill='%23121225'/%3E%3Cpath id='Vector_2' d='M13.4287 64.7499C13.4287 63.823 14.1802 63.0713 15.1073 63.0713H31.893C32.8199 63.0713 33.5716 63.823 33.5716 64.7499C33.5716 65.6768 32.8199 66.4284 31.893 66.4284H15.1073C14.1802 66.4284 13.4287 65.6768 13.4287 64.7499Z' fill='%23121225'/%3E%3Cpath id='Vector_3' d='M16.7861 71.4642C16.7861 70.5373 17.5378 69.7856 18.4647 69.7856H28.5361C29.463 69.7856 30.2147 70.5373 30.2147 71.4642C30.2147 72.3911 29.463 73.1428 28.5361 73.1428H18.4647C17.5378 73.1428 16.7861 72.3911 16.7861 71.4642Z' fill='#{encodecolor($color)}'/%3E%3C/g%3E%3C/svg%3E%0A")
  background-repeat: no-repeat
  background-position: center
  background-size: 100% auto

=quoteMark($color)
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='36' viewBox='0 0 40 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Frame'%3E%3Cpath id='Vector' d='M39.8301 8.02983C37.4301 8.90983 35.5901 10.2698 34.3101 12.1098C33.1101 13.9498 32.5101 16.1498 32.5101 18.7098H39.8301V34.9098H24.8301V18.7098C24.8301 16.4698 25.2301 14.3898 26.0301 12.4698C26.8301 10.5498 27.9101 8.86983 29.2701 7.42983C30.6301 5.90983 32.1901 4.62983 33.9501 3.58983C35.7901 2.54983 37.7501 1.70983 39.8301 1.06982V8.02983ZM15.9501 8.02983C13.5501 8.90983 11.7101 10.2698 10.4301 12.1098C9.23007 13.9498 8.63007 16.1498 8.63007 18.7098H15.9501V34.9098H0.950073V18.7098C0.950073 16.4698 1.35007 14.3898 2.15007 12.4698C2.95007 10.5498 4.03007 8.86983 5.39007 7.42983C6.75007 5.90983 8.31007 4.62983 10.0701 3.58983C11.9101 2.54983 13.8701 1.70983 15.9501 1.06982V8.02983Z' fill='#{encodecolor($color)}'/%3E%3C/g%3E%3C/svg%3E%0A")
  background-repeat: no-repeat
  background-position: center
  background-size: 100% auto
