$fontStackSansSerif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif
$firstFont: var(--font-gt-america-st-regular), sans-serif
$secondFont: var(--font-pp-monument), sans-serif
$thirdFont: var(--font-gt-america-ex-bold), sans-serif
$fourthFont: var(--font-gt-america-ex-regular), sans-serif
$fifthFont: var(--font-gt-america-ex-black), sans-serif

$regularFontWeight: 400

$fontSize: 100%
$baseline: 1.5em

$gutterMobile: 1.3125em // 21px
$gutterDesktop: 4.625em // 74px

$spacerMobile: 3.5em // 56px
$spacerDesktop: 5.75em // 92px

/* Browser widths */
$largeMobile: 30em // 480px
$maxLargeMobile: ($largeMobile - .0625em) // 479px
$tablet: 45em // 720px
$maxTablet: ($tablet - .0625em) // 719px
$smallDesktop: 63.75em // 1020px
$maxSmallDesktop: ($smallDesktop - .0625em) // 1019px
$mediumDesktop: 75em // 1200px
$maxMediumDesktop: ($mediumDesktop - .0625em) // 1199px
$desktop: 87.5em // 1400px
$largeDesktop: 100em // 1600px
$maxLargeDesktop: ($largeDesktop - .0625em) // 1599px
$narrowContainerWidth: 51em // 816px
$containerWidth: 81.1875em // 1299
$maxCappedWidth: ($containerWidth - .0625em)

$transitionDuration: .3s
$transitionDurationLong: .5s
$transitionTimingFunction: ease

/* MISC values */
$borderRadius: 1.5625rem // 25px borders such as containers
$buttonBorderRadius: 2.3125rem // 37px
$buttonBorderRadiusSquare: 0.5rem // 8px
$formBorderRadius: $borderRadius // form inputs
$imgBorderRadius: 0.8736875rem // 14px for images, used with the roundedImage mixin to stop safari issues
$border: 0.0625rem solid $black // standard border style
$formBorder: $border // form border style
$minTouchSize: 2.75rem // 44px - min size for click areas
$opacityHover: .6
$textSpacer: 1.5rem // used for smaller margins and spacing
$letterSpacing: -0.07em
$gap: 1.375rem
$headerHeight: 5.9375rem

@function encodecolor($string)
  @if type-of($string) == 'color'
    $hex: str-slice(ie-hex-str($string), 4)
    $string:unquote("#{$hex}")

  $string: '%23' + $string
  @return $string

=buttonArrow($color)
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVG'%3E%3Cpath id='Vector' fill-rule='evenodd' clip-rule='evenodd' d='M17.5001 12.9402C17.3578 12.9351 17.2159 12.9588 17.0829 13.0099C16.9499 13.0609 16.8285 13.1381 16.7261 13.2371C16.6236 13.336 16.5421 13.4545 16.4864 13.5856C16.4307 13.7168 16.4021 13.8577 16.4021 14.0002C16.4021 14.1426 16.4307 14.2836 16.4864 14.4147C16.5421 14.5458 16.6236 14.6644 16.7261 14.7633C16.8285 14.8622 16.9499 14.9395 17.0829 14.9905C17.2159 15.0415 17.3578 15.0652 17.5001 15.0602L22.9401 15.0602L13.7501 24.2501C13.5512 24.4491 13.4395 24.7188 13.4395 25.0001C13.4395 25.2814 13.5512 25.5512 13.7501 25.7501C13.9491 25.9491 14.2188 26.0608 14.5001 26.0608C14.7814 26.0608 15.0512 25.9491 15.2501 25.7501L24.4401 16.5602L24.4401 22.0002C24.4351 22.1425 24.4588 22.2844 24.5098 22.4174C24.5608 22.5504 24.6381 22.6717 24.737 22.7742C24.8359 22.8767 24.9545 22.9582 25.0856 23.0139C25.2167 23.0695 25.3577 23.0982 25.5001 23.0982C25.6426 23.0982 25.7835 23.0695 25.9146 23.0139C26.0457 22.9582 26.1643 22.8767 26.2632 22.7742C26.3622 22.6717 26.4394 22.5504 26.4904 22.4174C26.5414 22.2844 26.5651 22.1425 26.5601 22.0002V14.0002C26.5606 13.8608 26.5335 13.7228 26.4804 13.594C26.4273 13.4651 26.3492 13.3481 26.2507 13.2496C26.1522 13.1511 26.0351 13.073 25.9063 13.0199C25.7775 12.9668 25.6395 12.9397 25.5001 12.9402L17.5001 12.9402Z' fill='#{encodecolor($color)}'/%3E%3C/g%3E%3C/svg%3E%0A")
  background-repeat: no-repeat
  background-position: center

=upArrow($color)
  background-image:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='29' viewBox='0 0 30 29' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.11004 10.9177C8.00584 11.0148 7.92225 11.1319 7.86428 11.262C7.80631 11.3921 7.77514 11.5325 7.77263 11.6749C7.77011 11.8174 7.79631 11.9588 7.84966 12.0909C7.903 12.223 7.9824 12.3429 8.08312 12.4436C8.18384 12.5444 8.30381 12.6238 8.43588 12.6771C8.56795 12.7305 8.70941 12.7567 8.85183 12.7541C8.99424 12.7516 9.13469 12.7205 9.2648 12.6625C9.39491 12.6045 9.51201 12.5209 9.60911 12.4167L13.4558 8.57007L13.4558 21.5667C13.4558 21.848 13.5675 22.1177 13.7664 22.3167C13.9653 22.5156 14.2351 22.6273 14.5164 22.6273C14.7977 22.6273 15.0675 22.5156 15.2664 22.3167C15.4653 22.1177 15.5771 21.848 15.5771 21.5667L15.5771 8.57007L19.4237 12.4167C19.5208 12.5209 19.6379 12.6045 19.768 12.6625C19.8981 12.7205 20.0386 12.7516 20.181 12.7541C20.3234 12.7567 20.4649 12.7305 20.597 12.6771C20.729 12.6238 20.849 12.5444 20.9497 12.4436C21.0504 12.3429 21.1298 12.223 21.1832 12.0909C21.2365 11.9588 21.2627 11.8174 21.2602 11.6749C21.2577 11.5325 21.2265 11.3921 21.1686 11.262C21.1106 11.1319 21.027 11.0148 20.9228 10.9177L15.2659 5.26082C15.1678 5.16196 15.051 5.0835 14.9223 5.02996C14.7937 4.97642 14.6558 4.94886 14.5164 4.94886C14.3771 4.94886 14.2391 4.97642 14.1105 5.02996C13.9819 5.0835 13.8651 5.16196 13.7669 5.26082L8.11004 10.9177Z' fill='#{encodecolor($color)}'/%3E%3C/svg%3E")
  background-repeat: no-repeat
  background-position: center
