.feature-grid
  +spacingBottom
  +gutters

  &__container
    @extend %cappedWidth
    +clamp('column-gap', $gutterMobile, $gutterDesktop /2, $largeMobile, $desktop)
    +clamp('row-gap', $gutterMobile, $gutterDesktop /2, $largeMobile, $desktop)
    display: grid
    grid-template-columns: repeat(5, minmax(0, 1fr))
    grid-template-rows: auto
    grid-auto-flow: row dense
    width: 100%
    min-width: 0

    &:has([data-block-width="halfwidth"])
      grid-template-columns: repeat(6, minmax(0, 1fr))

    @media (min-width: $smallDesktop)
      column-gap: $gap * 2
      row-gap: $gap * 2

  &__block
    +clamp('padding', $gutterMobile, $gutterDesktop, $largeMobile, $desktop)
    align-items: flex-start
    border: $border
    border-radius: $borderRadius
    display: flex
    flex-direction: column
    grid-column-end: span 6
    justify-content: space-between
    min-width: 0

    @media (min-width: $smallDesktop)
      padding: ($gap * 2)

    &[data-block-width="fullwidth"]
      @media (min-width: $smallDesktop)
        flex-direction: row
        grid-column-end: span 6

    &[data-block-width="halfwidth"]
      @media (min-width: $smallDesktop)
        grid-column-end: span 3

    &[data-block-width="onethird"]
      @media (min-width: $smallDesktop)
        grid-column-end: span 2

    &[data-block-width="twothirds"]
      @media (min-width: $smallDesktop)
        grid-column-end: span 3

    &-content
      display: flex
      flex-direction: column
      height: 100%

  &__title
    @extend %h3

  &__text
    p
      @extend %smallFontSize
      margin-bottom: 0

  &__buttons
    display: flex
    flex-wrap: wrap
    gap: ($textSpacer / 2)
    margin-top: auto
    padding-top: $textSpacer
    width: 100%

  &__button
    @media (max-width: $maxTablet)
      width: 100%

  .lottie-animation
    align-self: flex-end

    @media (max-width: $maxSmallDesktop)
      display: none

    &[data-animation-ratio="Portrait"]
      > div
        +clamp('height', 15em, 19em, $smallDesktop, $desktop)
        +clamp('width', 11em, 15em, $smallDesktop, $desktop)

    &[data-animation-ratio="Landscape"]
      > div
        +clamp('height', 11em, 15em, $smallDesktop, $desktop)
        +clamp('width', 15em, 19em, $smallDesktop, $desktop)

    > div
      +clamp('height', 15em, 19em, $smallDesktop, $desktop)
      +clamp('width', 15em, 19em, $smallDesktop, $desktop)
      object-fit: contain
      object-position: center
