.feature-grid
  +spacingBottom
  +gutters

  &__container
    @extend %cappedWidth
    +clamp('column-gap', $gutterMobile, $gutterDesktop /2, $largeMobile, $desktop)
    +clamp('row-gap', $gutterMobile, $gutterDesktop /2, $largeMobile, $desktop)
    display: grid
    grid-template-columns: repeat(5, minmax(0, 1fr))
    grid-template-rows: auto
    grid-auto-flow: row dense
    width: 100%
    min-width: 0

    &:has([data-block-width="halfwidth"])
      grid-template-columns: repeat(6, minmax(0, 1fr))

    @media (min-width: $smallDesktop)
      column-gap: $gap * 2
      row-gap: $gap * 2

  &__block
    +clamp('padding', $gutterMobile, $gutterDesktop, $largeMobile, $desktop)
    align-items: flex-start
    border: $border
    border-radius: $borderRadius
    display: flex
    flex-direction: column
    grid-column-end: span 5
    min-width: 0

    @media (min-width: $smallDesktop)
      padding: ($gap * 2) ($gap * 2) $gap

    &[data-block-width="fullwidth"]
      @media (min-width: $smallDesktop)
        grid-column-end: span 5

        .lottie-animation
          margin-top: -12em

        .feature-grid__text
          padding-right: 15em

    &[data-block-width="halfwidth"]
      @media (min-width: $smallDesktop)
        grid-column-end: span 3

    &[data-block-width="onethird"]
      @media (min-width: $smallDesktop)
        grid-column-end: span 2

    &[data-block-width="twothirds"]
      @media (min-width: $smallDesktop)
        grid-column-end: span 3

  &__title
    @extend %h3

  &__text
    p
      @extend %smallFontSize
      margin-bottom: 0

  &__buttons
    display: flex
    flex-wrap: wrap
    gap: ($textSpacer / 2)
    margin-top: $textSpacer
    width: 100%

  &__button
    @media (max-width: $maxTablet)
      width: 100%

  .lottie-animation
    align-self: flex-end
    height: 15em
    margin-top: auto
    width: 15em

    @media (max-width: $maxSmallDesktop)
      display: none

    > div
      height: 100%
      object-fit: contain
      object-position: center
      width: 100%
