.logos:has(+ .stats)
  +clamp('padding-bottom', $spacerMobile / 2, $spacerDesktop / 2, $largeMobile, $desktop)

.logos
  +spacingBottomHalf
  overflow: hidden

  @media (max-width: $maxTablet)
    padding-bottom: $textSpacer

  &__container
    display: flex

  &__header
    &[data-text-align="center"]
      text-align: center

    &[data-text-align="left"]
      text-align: left

  &__marquee
    align-items: center
    animation: logosMarquee 30s linear infinite running
    display: flex
    flex: 0 0 auto
    height: 5.4375rem
    overflow: hidden
    width: auto

  &__block
    +clamp(width, 7em, 10.0625em, $largeMobile, $desktop)
    flex: 0 0 auto
    height: 100%
    margin: 0 $textSpacer

    @media (min-width: $tablet)
      margin-left: 4em
      margin-right: 4em

  &__image
    max-height: 10.9375em

    img
      object-fit: contain

.logos-header
  +gutters

  &__container
    @extend %cappedWidth
    
  &__title
    @extend %h5
