.page-banner
  +spacingBottomHalf
  +clamp('margin-bottom', $spacerMobile, $spacerDesktop / 2, $largeMobile, $desktop)
  padding-top: max(9em, 12.5vw)
  position: relative

  &:after
    +pseudoBasics
    background: linear-gradient(0deg, rgba($blue, 0.02) 85%, rgba($white, 0) 100%)
    bottom: 0
    height: 75%
    left: 0
    width: 100%
    z-index: -1

  &[data-slice-variation="imageLeft"]
    .page-banner__container
      gap: ($baseline * 2)

    .page-banner__media
      margin-left: 0
      order: -1
