.page-banner
  +gutters
  +spacingBottom
  padding-top: max(9em, 12.5vw)

  &[data-slice-variation="imageLeft"]
    .page-banner__container
      gap: ($baseline * 2)

    .page-banner__media
      margin-left: 0
      order: -1
