.section-intro:has(+ .four-col-grid),
.section-intro:has(+ .feature-grid)
  +spacingBottomHalf

.section-intro
  +spacingBottom
  +gutters

  &__container
    @extend %cappedWidth
    max-width: $narrowContainerWidth
    text-align: center

  &__text
    p
      margin-bottom: 0

  &__button,
  &__text-link
    @media (min-width: $tablet)
      margin: 0 $textSpacer / 2

  &__button
    @media (max-width: $maxTablet)
      width: 100%

  &__text-link
    @media (max-width: $maxTablet)
      display: inline-block
      margin-top: $textSpacer
